@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Nunito, sans-serif;
    /* white-space: nowrap; */
}

:root {
    /* --primary: #1a1f4c; */
    /* --primary: rgba(198, 181, 244, 1); */
    --primary: #0B081C;
    --text: #202046;
    /* --brand: #4a0586; */
    --brand: #6936F5;
    --grey: #595757;
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

a {
    transition: all 1s ease;
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 90px;
    padding-bottom: 90px;
}
  

/* NavBar */

.navbar {
    background-color: var(--primary);
}

.navbar .navbar-nav .nav-link {
    font-size: 1rem;
    color: white;
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active{
    color: var(--brand);
}

/* Button */

.btn {
    padding: 8px 28px;
    margin: 0px 16px 0px 0px;
    border-radius: 12px;
    font-weight: 500;
    transition: all 1s ease;
}

.btn-brand {
    background-color: var(--brand);
    border-color: 1px solid #895DFB;
    color: white;
}